<a href="https://colab.research.google.com/github/Patrickcruz14/CPE009B-CPE21S1-OOP/blob/main/EXERCISE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numbers

In [8]:
varNum = 123
pi = 3.14159

print (varNum)
print (pi)

123
3.14159

#strings

In [9]:

varString = "Hello World!"
varText = 'This is a String'

print (varString)
print (varText)

Hello World!
This is a String

#lists

#lists

In [13]:

varList = ["Abc" , 123]
print (varList)

['Abc', 123]

In [ ]:
#Tuples
varTuples = ('abc' , 123, "HELLO")

In [ ]:
#Dictionaries
var = 3
varDict = {'first':1,'2': '2nd', 3:var}

varDict = {}
varDict = ['first'] = 1
varDict['2'] = '2nd'
varDict[3] = var

In [ ]:
# substraction
a = 5 - 3
> 2

In [ ]:
#Multiplication

a = 5 * 3
> 15

In [ ]:
#Exponent
a = 5** ]
> 125

In [ ]:
#Division
a = 5/3
> 1.66666666667

a = 5 % 3
> 2

a = 5 // 3
>1

In [ ]:
#Increment/Decrement
a = 5
a += 1
> 6

In [ ]:
#decrement
a = 5
a -= 1
>4

#string concentration

In [17]:

a = 'Hello' + 'World'
print ( a )

HelloWorld

In [ ]:
#Complex expressions

In [19]:
a = 3 + 5- 6*2 / 4
print ( a )

5.0

boolean

In [43]:
x = true

if x:
    print("var x is true")
else:
    print("var x false")
    > var x is True

SyntaxError: invalid syntax (<ipython-input-43-0930a079a3ec>, line 7)

#String Conditions

In [45]:
x = "Hello World!"
if x == 'Hello World':
    print ("var x is Hello World!")
else:
    print("var x is not Hello World!")

var x is not Hello World!

#Numerical conditions

In [52]:
x = 10
if x== '10':
    print("var x is a string")
else x == 10:
    print("var x is an integer")
else:
    print("var x is none of the above")
> var is x an integer

#For loops
     for var in range(0, 5, 2):
         print(var)

SyntaxError: invalid syntax (<ipython-input-52-d827ff296b8f>, line 6)

for loops

In [53]:
for var in range(0, 5, 2):
         print(var)

0
2
4

#while loops

In [54]:
var = 0
while var < 5:
    print (var)
    var += 2

0
2
4

NESTED LOOPS

In [ ]:
x = 0
while x < 5:
    for y in range (0, x):
        print(y, end='')
x += 1
print()

In [ ]:
print (varList[4])

LIST

In [ ]:
pi = 3.14159
varlist = {1,2,'A','S', 'Hello!', pi}
print{varlist[0]}

In [ ]:
varlist.append('World!')

In [ ]:
print(varDict['3'])

In [ ]:
print(varDict[2])

List Generators and comprehension

In [28]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

gen_num_up_to(5)

In [25]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

    varlist = gen_num_up_to(5)
print([var for var in varList])

['Abc', 123]

SLICING

In [36]:
varlist = [1,2,3,4,5,6,7,8,9,10]
print(varlist[:5])

print(varlist[5:])

print(varlist[:-2])

print(varList[-2:])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
['Abc', 123]
[]
[]

In [41]:
varlist = [1, 2, 3, 4, 5, 6, 7,8, 9, 10]

print(varList[2:-2])

print(varList[2:8:2])

[]
[]

FUNCTIONS

In [42]:
def remainder(n, m):
  while True:
    if n - m < - 0:
      return n
    else:
      n = n - m

remainder (10,4)

2

In [ ]:
print(varDict['first'])

In [ ]:
var = "Hello World!"
varDict = {'first' : 123,2 : 'abc',
           '3' : var, 4 : ['lista', 'listb']}
print(varDict['first'])

In [ ]:
varlst.remove(pi)
print(varList[5])

In [ ]:
print(varList[6])

len(varlist)

print(varList[5])